<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Aplicação AngularJS</title>

</head>
<body class="container" ng-app="aplicacao">
    <header class="text-center">
        <h1>Bem-vindo à minha primeira aplicação com AngularJS</h1>
    </header>

    <!-- Definição do Controller -->
    <div ng-controller="PrimeiroController">
        
    </div>

    <footer class="container-fluid text-center mt-4 copyright">
        <p>Página criada e desenvolvida por 
            <a href="https://www.linkedin.com/in/andrew-rufato-845406211/" target="_blank">Andrew Rufato</a>
        </p>
    </footer>

    <!-- Scripts da aplicação -->
    <script src="scripts/app.js"></script>
    <script src="scripts/primeiro-controller.js"></script>
</body>
</html>
